REACT_APP_NAME=YOUR_APP_NAME
REACT_APP_API_HOST=YOUR_SERVER_ADDRESS # "http://localhost:5000"
REACT_APP_GA_TRACKING_ID=YOUR_GA_TRACKING_ID
REACT_APP_YJS_BASE_URL=YOUR_YJS_BASE_URL  # "ws://localhost:5000/" OR "wss://REACT_APP_API_HOST/"