MONGO_URI="MONGO_DB_URL"
GMAIL_APP_USER="ZOHO_EMAIL"
GMAIL_APP_PASSWORD="ZOHO_EMAIL_PASSWORD"
CLIENT_URL="FRONTEND_URL"
JWT_SECRET_KEY="JWT_SECRET"
GOOGLE_CLIENT_ID="FOR_GOOGLE_SIGN_IN"
GOOGLE_CLIENT_SECRET="FOR_GOOGLE_SIGN_IN"
